body {
  background: $body-background-color;
  font-family: arial, serif;
  font-size: 1.3em;
  min-height: 946px !important;
  min-width: 1200px !important;
}

.lamp-lighting {
    min-height: 946px !important;
    min-width: 1200px !important;
}
.selected {
    border-width: 4px;
    border-color: rgba(153, 27, 27, var(--tw-border-opacity));
    height: 150px;
    width: 150px;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
}

.lamp-lighting {
    .lamp {
        position: absolute;
        bottom: 0;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
    }
}

.candle-box {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 287px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    .candle1 {
        left: -45px;
        top: -30px;
    }
    .candle2 {
        left: 5px;
        top: 0;
    }
    .candle3 {
        left: 120px;
        top: -30px;
    }
    .candle4 {
        left: 85px;
        top: 0px;
    }
}